/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    /* outline: 1px solid red; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    background-color: steelblue;
    color:white;
    text-decoration: none;
    border:2px solid black;   
}
html{
    font-family: righteous;
}
header{
    display:flex;
    /* background-color: grey; */
    font-size:3rem;
    justify-content:center;    
}
.quote{
    display:flex;
    width:100%;
    padding-bottom:1%;
}
.top-links{
    display:flex;
    padding:1%;
    flex-wrap:wrap;
    /* background-color: blue; */
    font-size:2rem;
}
.spacer{
    width:10%;
}
.text1{
    font-size:1rem;
    width:90%
}
.linkbar{
    display:flex;
    width:100%
}
.top-links a{
    display:flex;
    justify-content:center;
    width:12%;
}
.body-top{
    display:flex;
    padding: 1.5%;
}
.body-left{
    max-width:30%;

}
.big-left{
    max-width:100%;
}
.body-right{'
    display:flex;
    width:70%;
    display:flex;
    flex-flow:column wrap;
    padding:3%;
}
.body-name{
    font-size:3rem;
    width:100%;
    margin-bottom:3%;
}
.about{
    font-size:1.2rem;
    width:60%;   
}
.aboutme{
    width:35%;
    font-size:3rem;
    margin-bottom:3%;
}
.alleight{
    width:20%;
}
.body-center{
    display:flex;
    flex-flow:wrap;
    width:100%;
    
}
.centerimgs{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}

.centertxt{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}
.centertxt p{
    font-size:1.4rem;
    text-align: center;
    width:20%;
}
.body-bottom{
    display:flex;
    flex-flow:wrap;
    width:100%;
}
.bottomimgs{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}

.bottomtxt{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}
.bottomtxt p{
    font-size:1.4rem;
    text-align: center;
    width:20%;
}
.footerblock{
    display:flex;
    flex-direction:column;
    /* background-color: blue; */
    position:relative;
    align-items: center;
    bottom:0;
    width:100%;
    height:5%;
}
.contact{
    font-size:3rem;
    margin:1%;
}
.contactme{
    width:25%;
    font-size:3rem;
    margin-bottom:2%;
}