/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    /* outline: 1px solid red; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
a{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius:5px;
    background-color: steelblue;
    color:white;
    text-decoration: none;
    border:2px solid black;
    font-size: 2rem;
    margin-bottom: 1%;
}
html{
    font-family: righteous;
    font-size:62.5%;
}
h1{
    font-size: 3rem;
}
p{
    font-size:2rem;
}
header{
    display:flex;
    font-size:3rem;
    justify-content:center; 
    margin:1% 0;
}
.name{
    display:flex;
    width:100%;
    padding-bottom:1%;
}
.top-links{
    display:flex;
    flex-wrap:wrap;
    font-size:2rem;
    margin-left:2%;
}
.linkbar{
    display:flex;
    width:100%
}
.top-links a{
    display:flex;
    justify-content:center;
    width:10%;
}
.body-top{
    display:flex;
    width: 100%;
}
.body-left{
    width:50%;
}
.big-left{
    width:80%;
    margin-left:4%;
}
.body-right{'
    display:flex;
    width:50%;
}
.body-name{
    width:100%;
    margin-bottom:3%;
}
.aboutme{
    margin-bottom:3%;
    padding:1%;
    width: 20%;
}
.par-about{
    width: 60%;
}
.alleight{
    width:20%;
}
.body-center{
    display:flex;
    flex-flow:wrap;
    width:100%;
    
}
.centerimgs{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}

.centertxt{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}
.centertxt p{
    text-align: center;
    width:20%;
}
.body-bottom{
    display:flex;
    flex-flow:wrap;
    width:100%;
}
.bottomimgs{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}

.bottomtxt{
    display:flex;
    width:100%;
    margin:2%;
    justify-content: space-between;
}
.bottomtxt p{
    text-align: center;
    width:20%;
}
.footerblock{
    display:flex;
    flex-direction:column;
    position:relative;
    align-items: center;
    bottom:0;
    width:100%;
    height:5%;
}
.contact{
    margin:1%;
}
.contactme{
    width:25%;
    margin-bottom:2%;
}
.footerblock{
    background-color: lightgrey;
    width: 100%;
}
@media(max-width:800px){
.big-left{
    margin:0;
}
.body-top{
    margin:0;
    padding: 0;
}
.body-right p{
    width: 80%;
    font-size:1.5rem;
    padding: 0;
    margin:0;
}
.top-links a{
    width: 12%;
}
.aboutme{
    width:25%;
}


@media(max-width:500px){
header{
        display: none;
}
.top-links{
    margin-left:0;
}
.name{
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
.linkbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1%;
}
.linkbar a{
    width: 25%;
}
.body-top{
    display: flex;
    flex-flow:row wrap;
}
.body-left{
    display: flex;
    justify-content: center;
    width:100%;
}
.body-right{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
}